html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    max-width: 100%;
}

    /** Utilities **/
.container {
    max-width: 110rem;
    margin: 0 auto;
}

    /** Header **/
.site-header {
    padding: 2rem 0;
}

    /** Navegation **/
.bar {
    background-color: #db008d;
}
.main-nav a {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    padding: 2rem;
    text-decoration: none;
}
@media (min-width: 768px) {
    .main-nav a {
        display: inline-block;
    }
}
.main-nav a:hover {
    background-color: #03e2de;
}